APP_SETUP_MASTER_KEY=HASH-SECRET-KEY

SPRING_DATASOURCE_URL=jdbc:postgresql://127.0.0.1:5432/authluiz
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=senhazona

JWT_SECRET=HASH-SECRET-KEY
JWT_EXPIRATION_MINUTES=120

GOOGLE_OAUTH_CLIENT_ID=client-id-do-google.apps.googleusercontent.com