SPRING_DATASOURCE_URL=jdbc:postgresql://127.0.0.1:5433/permluiz
SPRING_DATASOURCE_USERNAME=USUARIO_BANCO_DE_DADOS
SPRING_DATASOURCE_PASSWORD=SENHA_BANCO_DE_DADOS

# URI do endpoint JWKS do Auth-Luiz (em dev, Auth-Luiz deve estar rodando na porta 8080)
AUTH_LUIZ_JWKS_URI=http://localhost:8080/auth/.well-known/jwks.json
